* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;

    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    color: $almost-black;
}

ul {
    list-style: none;
}